################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/JuegoUnityFile/Temp
/JuegoUnityFile/.vs/JuegoUnityFile/v15/Server/sqlite3
